/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 992px) {
    /****Ipad Landscape 1024 Container 970 ****/
    .service-list {
        margin-bottom: 30px;
    }
    .c-logo-part ul li {
        margin: 0 15px;
    }
    .form {
        margin: 0 0 0 0px;
    }
    .main-nav {
        display: block !important;
    }
    /*.portfolioContainer{ width:800px; margin:0px auto !important; } */
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
    /****Ipad Portrait 768 Container 750 ****/
    body {
        font-size: 13px;
    }
    p {
        line-height: 20px;
    }
    .header h1 {
        font-size: 46px;
    }
    .main-nav ul li a {
        padding: 14px;
    }
    .small-logo {
        padding: 0 20px;
    }
    h2 {
        font-size: 50px;
    }
    h6 {
        font-size: 16px;
    }
    h3 {
        font-size: 15px;
    }
    .service-list {
        margin-bottom: 20px;
        font-size: 15px;
    }
    .featured-work p.padding-b {
        padding-bottom: 15px;
    }
    .main-section {
        padding: 70px 0;
    }
    .c-logo-part ul li {
        margin: 0 1%;
        float: left;
        width: 18%;
    }
    .c-logo-part ul li a {
        display: block;
    }
    .c-logo-part ul li a img {
        display: block;
    }
    .form {
        margin: 0;
    }
    .contact-info-box {
        margin: 0;
    }
    .social-link {
        margin: 0;
    }
    .main-nav {
        display: block !important;
    }
    .main-nav li a {
        padding: 8px 15px;
    }
    #floating-info {
        font-size: 1.0em;
    }
    .featured-work h2 {
        text-align: center;
        margin: 30px;
    }
    #animacion>div>div>div {
        margin-left: 15vw;
    }
}
@media only screen and (max-width: 767px) {
    /****Mobile Landscape 480 Container 100% ****/
    
    body {
        font-size: 12px;
    }
    h2 {
        font-size: 55px;
    }
    h3 {
        font-size: 14px;
    }
    h6 {
        font-size: 16px;
        margin-bottom: 40px;
    }
    p {
        line-height: 18px;
    }
    header .service-list:first-child {
        background: none;
    }
    video#bgvid {
        min-width: 100%;
        max-width: 100%;
    }
    header .service-list {
        font-size: 12px;
        margin-bottom: 20px;
        background: rgba(255, 0, 255, 0.12);
        border-radius: 15px;
    }
    .we-create li {
        font-size: 13px;
        padding: 0 0 0 8px;
    }
    .header h1 {
        font-size: 28px;
    }
    .header {} .main-section {
        padding: 60px 0 70px;
    }
    .main-nav {
        display: none;
        position: absolute;
        left: 0;
        width: 100%;
        top: 68px;
        margin: 0 auto;
        flote: none;
        background: #000;
    }
    .main-nav li {
        display: block;
    }
    .main-nav li.small-logo {
        display: none;
    }
    .main-nav li a {
        display: block;
        padding: 7px 32px;
        border-bottom: none;
    }
    .main-nav li a:hover {
        color: #7cc576;
    }
    .team-leader-box {
        max-width: 307px;
        width: auto;
        float: none;
        margin: 0 auto;
    }
    .team-leader-box:nth-of-type(3n) {
        margin: 0 auto;
    }
    .res-nav_click {
        display: block;
    }
    .featured-work {
        font-size: 12px;
        margin-top: 30px;
    }
    .featured-box {
        font-size: 12px;
    }
    .featured-box p {
        line-height: 18px;
    }
    .c-logo-part ul a {
        margin-bottom: 5px;
    }
    .main-section.team {
        padding: 40px 0 0px;
    }
    .business-talking h2 {
        font-size: 36px;
    }
    .contact-info-box {
        margin: 0 0 12px 30px;
        font-size: 12px;
    }
    .contact-info-box span {
        line-height: 18px;
        text-align: center;
    }
    .social-link {
        margin-left: 30px;
    }
    .form {
        margin: 0 30px;
    }
    .copyright {
        font-size: 12px;
    }
    .business-talking a {
        padding: 10px 25px;
        font-size: 14px;
    }
    .main-section.contact {
        padding: 60px 0 70px;
    }
    .client-part-haead {
        font-size: 20px;
        line-height: 30px;
    }
    .link {
        font-size: 14px;
        padding: 10px 25px;
    }
    .logo {
        width: 100px;
    }
    .main-section.contact {
        background-size: contain;
    }
    .Portfolio-nav li a {
        padding: 5px 16px;
    }
    .Portfolio-nav li {
        display: block;
    }
    #explanatory img {
        width: 60vw;
        align-self: center;
    }
    #padimg {
        display: block;
        margin-left: auto;
        margin-right: auto;
        padding: 0 0 0 0;
    }
    .megafooter p {
        margin: 0px 0px 11px 10px;
        font-family: 'Montserrat', sans-serif;
        text-align-last: center;
    }
    .megafooter h4 {
        margin: 0px 0px 15px 0px;
        text-align-last: center;
    }
    #explanatory .who-we-are {
        color: #666;
    }
    #explanatory p {
        font-size: 18px;
        font-weight: 0;
        padding-bottom: 10%;
        line-height: inherit;
    }
    .modal-dialog {
        width: 80vw;
        margin: 30px auto;
    }
    #header-form {
        display: none;
    }
    .closeform {
        display: none;
    }
    .shrink {
        min-width: 80%;
    }
    /*
    * Landing pseudo navbar
    */
    nav .lang-switch {
        position: relative;
    }
    #loc-navbar-callus {
        font-size: x-large;
    }
    .formalp {
        margin: 10px;
    }
    .img_center {
        height: 17vw;
        width: auto;
    }
    .fa_prop {
        font-size: 25px;
        margin: 8px;
    }
    .mobile_margin {
        text-align: center;
        margin-top: 42%
    }
    .redes {
        padding: 0% 0% 0% 0%;
    }
    .portfolioContainer {
        width: 326px !important;
        margin: 0px auto !important;
    }
    .quotes_padding {
        padding: 0px;
    }
    .quotes p {
        font-size: 12px;
    }
    #explanatory .title {
        font-size: 18px;
        color: #212121;
    }
    .backhero {
        background: url("../img/back_landing.png");
        background-size: cover;
        background-repeat: no-repeat;
        background-size: auto 100%;
        background-position:top;
        background-attachment: fixed;
    }
.xflex {
  flex-direction: column;
}
    
    .rowflex {
  flex-direction: column;
}
}
@media only screen and (max-width: 479px) {
    /****Mobile Portrait 320 ****/
    .ver__desktop {
        display: none; 
    }
    .ver__mobile {
        display: block; 
    }
    .flash__message {
        padding: 10px;
        width: 90%;
        margin: 0 5%;
        top: 150px;
        right: auto;
    }
    .contact-info-box {
        margin-left: 0px;
    }
    .header {
        text-align: center;
    }
    .social-link {} .form {
        margin: 0;
    }
    .c-logo-part ul li {
        display: block;
    }
    .Portfolio-box {
        max-width: 300px !important;
        width: 96.4% !important;
        margin: 10px !important;
    }
    .Portfolio-box img {
        max-width: 100%;
    }
    .footer {
        margin-bottom: 60px;
    }
    .featured-work h2 {
        text-align: center;
    }
    #floating-info {
        text-align: center;
        font-size: 1.0em;
        left: 0;
    }
    #floating-info a p:first-child {
        width: 50%;
        border-bottom: 2px solid;
        margin: 5px 90px;
    }
    .nomobile {
        display: none;
    }
    #explanatory h1 {
        font-size: 24px;
    }

}
